body {
    margin: 0;
    padding: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url('https://www.picgifs.com/glitter-gifs/f/fruit/picgifs-fruit-678700.gif');
    background-size: auto;
    background-repeat: repeat;
    background-color: #ffffe9;

    color: #9b3192;
}

@font-face {
    font-family: 'Haloberry';
    /* The name you'll use in CSS */
    src: url('fonts/Haloberry.otf') format('truetype');
    font-weight: auto;
    font-style: normal;
}

.image-text {
    font-family: 'Haloberry', sans-serif;
    font-size: 60px;
    font-weight: bold;

    background-image: url('https://dl.glitter-graphics.com/pub/3682/3682034mxl55jw25d.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}



.layout {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "title title"
        "nav   main";

    gap: 16px;
    border: groove 8px #f6c5f2;
    background-color: #ffffe9;
    padding: 0px 40px;
}

h1 {
    grid-area: title;
    text-align: center;
    font-family: 'Haloberry', sans-serif;
    font-size: 60px;
    -webkit-text-stroke: 0.5px rgb(216, 99, 201);
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

.card .row {
    display: flex;
    flex-direction: column;
    /* stack each nutrient vertically */
    gap: 4px;
    /* space between nutrients */
    margin-top: 8px;
    /* space below the fruit name */
}

.card .row .small {
    font-size: 0.9rem;
    color: #c758be;
    /* lighter color for nutrition info */
}