body {
    margin: 0;
    padding: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url('https://www.picgifs.com/glitter-gifs/f/fruit/picgifs-fruit-678700.gif');
    background-size: auto;
    background-repeat: repeat;
    background-color: #ffffe9;

    color: #9b3192;
}

@font-face {
    font-family: 'Oranju'; /* The name you'll use in CSS */
    src: url('fonts/Oranju.otf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

.image-text {
    font-family: 'Oranju', sans-serif; /* your custom font */
    font-size: 80px; /* adjust as needed */
    font-weight: bold;
        padding: 0px;
    margin: 0;
    
    /* background image applied to text */
   /* background-image: url('https://dl.glitter-graphics.com/pub/3558/3558134bakqvcxlo6.gif'); */
    /* background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    
    background-clip: text;
    color: transparent; */
}

.layout {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "title title"
        "nav   main";

    gap: 16px;
    border: groove 8px #f6c5f2;
    background-color: #ffffe9;
    padding: 16px;
}

h1 {
    grid-area: title;
    padding: 20px 40px;
    text-align: center;
    font-family: 'Oranju', sans-serif;
    font-size: 80px;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

.card .row {
    display: flex;
    flex-direction: column; /* stack each nutrient vertically */
    gap: 4px;               /* space between nutrients */
    margin-top: 8px;        /* space below the fruit name */
}

.card .row .small {
    font-size: 0.9rem;
    color: #c758be;          /* lighter color for nutrition info */
}
