body {
    margin: 0;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #2c2c2b;
}




a {
    color: #eee6ea;
}

.layout {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "title title"
        "nav   main";

    gap: 16px;
    border: solid 4px #fff;
    background-color: #232122;
    color: #eee6ea;
    padding: 16px;
}

header h1 {
    grid-area: title;
    text-align: center;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

.card .row {
    display: flex;
    flex-direction: column; /* stack each nutrient vertically */
    gap: 4px;               /* space between nutrients */
    margin-top: 8px;        /* space below the fruit name */
}

.card .row .small {
    font-size: 0.9rem;
    color: #ccc;           /* lighter color for nutrition info */
}
